<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>
<app-flights></app-flights>
  <div class="container page">
    <div class="row">


    </div>
  </div>
</div>
