<div>

<h2>Comments:</h2>

<div *ngFor="let comment of comment">
    <div class="card">
        <div class="card-block">
          <p class="card-text">
            {{comment.body}}
          </p>
        </div>
        <div class="card-footer">
            <a class="comment-author" [routerLink]="['/profile', comment.user.username]">
              <img [src]="comment.user.image" class="comment-author-img" />
            </a>
            &nbsp;
            <a class="comment-author" [routerLink]="['/profile', comment.user.username]">
                {{ comment.user.username }}
              </a>
              <span class="date-posted">
                {{ comment.createdAt | date: 'longDate' }}
              </span>
              <span class="mod-options" [hidden]="!canModify">
                <i class="ion-trash-a" (click)="deleteClicked()"></i>
              </span>
  </div>

</div>