<p>

  {{flight.nombre}}
  
</p>
<p>{{flight.user_id}}</p>
<div >
  <!-- <app-list-errors [errors]="commentFormErrors"></app-list-errors> -->
  <form class="card comment-form" (ngSubmit)="addComment()">
    <fieldset >
      <div class="card-block">
        <textarea class="form-control"
        [formControl]="commentControl"

          
        ></textarea>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="submit">
         Post Comment
        </button>
      </div>
    </fieldset>
  </form>
</div>

<button class="btn btn-sm btn-outline-danger"
(click)="deleteFlight()">
<i class="ion-trash-a"></i> Delete Flight
</button>

<app-flight-comment 
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">>

</app-flight-comment>
