<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <form class="card comment-form" (ngSubmit)="submitForm()" [formGroup]="ProductsForm">
          <fieldset >
            <div class="card-block">
              <input type="text" class="form-control"
              formControlName="nombre"
              placeholder="Flight Name">
            </div>
          </fieldset>

          <fieldset >
            <div class="card-block">
              <input type="text" class="form-control"
              formControlName="pais"
              placeholder="Flight country">
            </div>
          </fieldset>
          <fieldset >
            <div class="card-block">
              <input type="text" class="form-control"
              formControlName="valoracion"
              placeholder="Flight initial rating">
            </div>
          </fieldset>
          <fieldset >
            <div class="card-block">
              <input type="text" class="form-control"
              formControlName="hoteles"
              placeholder="Hotels available inside the Flight">
            </div>
          </fieldset>


          <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="submit">
             Post Flight
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
